<div class="qr-container">
  <input type="file" id="fileInput" (change)="handleFileInput($event)" accept="image/*">
  <label for="fileInput">Choose File</label>
  <canvas #canvasElement></canvas>
  
  <div *ngIf="reservationData && !reservationData.reservation.isCollected ">
  <h2>Podaci o rezervaciji</h2>
  <ul>
    <li><strong>broj rezervacije:</strong> {{ reservationData.reservation.id }}</li>
    <li><strong>Korisnik:</strong> {{ reservationData.reservation.name }} {{ reservationData.reservation.surname }}</li>
    <li><strong>Oprema:</strong> {{ reservationData.equipment.name }}</li>
    <li><strong>Opis opreme:</strong> {{ reservationData.equipment.description }}</li>
    <!-- Dodajte ostale informacije koje želite prikazati -->
  </ul>
  <button *ngIf="!showPopup" (click)="markReservationAsCollected()">Označi rezervaciju kao preuzetu</button>
</div>
<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <p>Rezervacija je istekla. Korisnik je dobio 2 penala.</p>
  </div>
</div>


</div>
