.qr-container {
  max-width: 600px; /* Prilagodite širinu kontejnera prema potrebi */
  margin: 0 auto; /* Centriraj kontejner */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input[type="file"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1b1b57;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}


canvas {
  width: 100%;
  height: auto;
  margin-bottom: 20px; /* Dodajte razmak ispod canvas-a */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li strong {
  font-weight: bold;
  margin-right: 5px;
}
.popup{
  display: none; /* Početno skrivanje popup-a */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Transparentna crna pozadina */
  padding: 20px;
  border-radius: 5px;
  color: white;
  z-index: 1000; /* Postavljanje visokog z-index-a da bude iznad ostalih elemenata */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center; /* Center text horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
}