/* Stilizacija tabova */
.tab {
  display: flex;
  justify-content: center;
}

.tab-button {
  background-color: transparent;
  border: 1px solid #c5c7e1;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

.tab-button.active {
  background-color: #abd5db;
  border-bottom-color: transparent;
}

.tab-button:hover {
  background-color: #abd5db;
}

/* Stilizacija sadržaja tabova */
.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #023047;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.tab-content.active {
  display: block;
}

/* Ostale stilizacije */
.content {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  background-color: transparent;
  color: 023047;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: transparent;
}

.company-card {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.company-card h2 {
  margin-top: 0;
}

/* Dodatna stilizacija za forme */
form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #023047; /* Plava boja za ivice */
  border-radius: 25px; /* Okrugao oblik */
  outline: none;
  margin-right: 10px;
  background-color: #023047; /* Plava boja pozadine */
  color: white; /* Bela slova */
}

.search-icon {
  width: 30px;
  height: 30px;
  fill: 023047; /* Bela boja za ikonicu */
  cursor: pointer;
  transition: transform 0.3s ease; /* Dodajemo efekat prelaska */
}

.search-icon:hover {
  transform: scale(1.1); /* Povećava ikonicu na hover */
}
.filtered-equipment-list {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centrira sadržaj horizontalno */
  align-items: center; /* Centrira sadržaj vertikalno */
}

.filtered-equipment-list h2 {
  margin-top: 10px;
}

/* Stilizacija radio dugmadi za izbor zvezdica */
.rating-options {
  display: flex;
  align-items: center;
  /* margin-left: 10px;  Uklonjeno, više ne treba */
}

.rating-options input[type="radio"] {
  display: none; /* Sakrijemo radio dugmad */
}

.rating-options label {
  margin-right: 10px;
  cursor: pointer;
}

.rating-options label img {
  width: 30px; /* Prilagodimo veličinu slike zvezdica */
  height: 30px;
}

.rating-options label:hover img {
  filter: brightness(1.5); /* Dodajemo efekat na hover */
  margin-right: 10px;
}

.company-section {
  text-align: center;
  margin-top: 50px;
}

.company-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; /* Rounded edges */
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.company-card h3 {
  color: black;
}

.register-button {
  background-color: #3193fb;
  color: #fff;
  border: none;
  border-radius: 5px; /* Rounded edges */
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  display: block; /* Display buttons one on top of the other */
  width: 100%; /* Make buttons take full width */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
.register2-button {
  background-color: #3193fb;
  color: #fff;
  border: none;
  border-radius: 5px; /* Rounded edges */
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  display: block; /* Display buttons one on top of the other */
  width: 20%; /* Make buttons take full width */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-left: auto;
  margin-right: auto;
}
.pdf-section {
  margin-top: 50px;
}

.pdf-link {
  color: #3193fb;
  text-decoration: none;
  font-weight: bold;
}

.pdf-link:hover {
  text-decoration: underline;
}
