################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medicina/FileContentIndex/0564ed5f-ecff-45f4-9a0d-e6a3a8b8f69d.vsidx
/.vs/Medicina/FileContentIndex/87bd5006-7c5d-4570-a71e-fc7c6ade20f7.vsidx
/.vs/Medicina/FileContentIndex/51c719e4-4067-4647-a10c-77c407e6ae7e.vsidx
/.vs/Medicina/FileContentIndex/a2d7828f-6073-4c7f-8678-08f6ca78d16b.vsidx
/.vs/Medicina/FileContentIndex/d0d684e3-531a-46e5-a0ff-d7cd868b7406.vsidx
*.vsidx
/Medicina/obj/Debug/netcoreapp3.1/Medicina.assets.cache
/Medicina/obj/Debug/netcoreapp3.1/Medicina.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Medicina/FileContentIndex/0704309b-ad93-4f0b-9285-717f54855ade.vsidx
*.vsidx
/.vs/Medicina/FileContentIndex/81db1f02-54c3-4f55-8e6a-3e4d93f746ad.vsidx
/.vs/Medicina/v17/.futdcache.v2
/.vs/Medicina/v17/.suo
/.vs/ProjectEvaluation/medicina.metadata.v7.bin
/.vs/ProjectEvaluation/medicina.projects.v7.bin
/Medicina/bin/Debug/netcoreapp3.1/Medicina.dll
/Medicina/bin/Debug/netcoreapp3.1/Medicina.pdb
/.vs/Medicina/config/applicationhost.config
/.vs/Medicina/DesignTimeBuild/.dtbcache.v2
/Medicina/obj/Medicina.csproj.nuget.dgspec.json
/Medicina/obj/project.assets.json
/Medicina/obj/project.nuget.cache
*.cache
*.txt
*.dll
*.editorconfig
*.pdb
/Medicina/obj/Debug/netcoreapp3.1/Medicina.AssemblyInfo.cs
/Medicina/obj/Debug/netcoreapp3.1/Medicina.AssemblyInfoInputs.cache
/Medicina/obj/Medicina.csproj.nuget.g.props
/Medicina/obj/Debug/netcoreapp3.1/Medicina.csproj.AssemblyReference.cache
/Medicina/obj/Medicina.csproj.nuget.g.props
/Medicina/obj/Debug/netcoreapp3.1/Medicina.csproj.CoreCompileInputs.cache
