<div *ngIf="person">
  <h2>Edit your Profile</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" />
      </div>
      
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
      </div>
    </div>

    <div class="form-row">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" formControlName="surname" />
      </div>
    </div>

    <div class="form-row">
      <div>
        <label for="city">City:</label>
        <input type="text" id="city" formControlName="city" />
      </div>
  
      <div>
        <label for="country">Country:</label>
        <input type="text" id="country" formControlName="country" />
      </div>
    </div>

    <div class="form-row">
      <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" formControlName="phone" />
      </div>

      <div>
        <label for="profession">Profession:</label>
        <input type="text" id="profession" formControlName="profession" />
      </div>
    </div>

    <div class="form-row">
      <div>
        <label for="companyInfo">Company Info:</label>
        <input type="text" id="companyInfo" formControlName="companyInfo" />
      </div>

      <div>
        <label for="memberSince">Member Since:</label>
        <input type="text" id="memberSince" formControlName="memberSince" />
      </div>
    </div>
    <button type="submit">Save Changes</button>
  </form>
</div>

<div *ngIf="!person">
  <p>Loading...</p>
</div>